
.promotion-chooser {
  list-style: none;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.promotion-chooser .box {
  display: block;
  padding: 15px 20px;
  background-color: #F8F8F8;
  color: #7B8585;
  margin-bottom: 3px;
  position: relative;
  cursor: pointer;
  
  transition: 0.3s;
}

.promotion-chooser .box:hover {
  background-color:#d8f2f1;
}

.promotion-chooser .box.active {
  color:#fff;
  background-color:#41c7c2;
}